.emoticon_list_container {
  display: flex;
  flex-direction: column;
  padding: 2.5em 0.94em; // 40px 15px

  .emoticon_list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .emoticon_list::after {
    content: '';
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
  }

  .emoticon_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3.13em 0 0.56em 0.56em; // 50px 0 9px 9px

    :nth-child(1) {
      margin-bottom: 0.19em; // 3px
      font-size: 0.88em; // 14px
      line-height: 1.5em; // 24px
      text-align: center;
      color: #919299;
    }

    :nth-child(2) {
      font-size: 0.88em; // 14px
      line-height: 1.5em; // 24px
      text-align: center;
      text-decoration-line: underline;
      text-decoration-color: #4b4e57;
      text-decoration-style: solid;
      text-underline-offset: 0.25em; // 4px
      color: #4b4e57;
    }
  }
}

@media screen and (min-width: 600px) {
  .emoticon_list_container {
    font-size: 20px;
  }
}
