/*
 * position
 * box model
 * visual
 * typography
 * misc
 */

.detail_info_container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .detail_back_btn {
    padding: 1.23em 0; // 19.6px 0

    img {
      width: 1.15em; // 18px
      height: 1.03em; // 16.54px
    }
  }

  .detail_image {
    display: flex;
    justify-content: center;

    img {
      width: 100%;
    }
  }

  .detail_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.5em 0 0; // 24px

    &_left {
      display: flex;
      flex-direction: column;

      :nth-child(1) {
        font-weight: 700;
        font-size: 1.3em; // 20px
        color: #42444c;
      }

      :nth-child(2) {
        margin-top: 0.28em; // 4px
        font-weight: 500;
        font-size: 0.9em; // 14px
        color: #919299;
        opacity: 1;
      }
    }

    &_right {
      img {
        width: 1.3em; // 20px
        height: 1.3em; // 20px
      }
    }
  }

  .detail_info_ad {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: none;
    background-color: #d9d9d9;

    span {
      margin: 4.5% 0; // 13px
      font-weight: 500;
      font-size: 0.9em; // 14px
      color: #000000;
    }
  }
}

@media screen and (min-width: 600px) {
  .detail_info_container {
    font-size: 20px;
  }
}
